html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #f0fff4; /* Light green background */
}

.navbar-custom {
    background-color: #81c784; /* Green navbar */
}

    .navbar-custom .nav-link,
    .navbar-custom .navbar-brand {
        color: white !important;
    }

        .navbar-custom .nav-link:hover {
            text-decoration: underline;
        }

.footer {
    background-color: #66bb6a;
    color: white;
    padding: 15px 0;
}
    .footer a {
        color: white;
        text-decoration: underline;
    }
        .footer a:hover {
            text-decoration: none;
        }

main {
    background: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
}

